<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <add key="Kendo Mvc 2019.3.1023" value="C:\Users\ptodorov\AppData\Roaming\Telerik\Updates\telerik.ui.for.aspnet.core.hotfix.2019.3.1023.commercial\wrappers\aspnetcore\Binaries\AspNet.Core" />
  </packageSources>
</configuration>