<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - FinancePortfolio</title>
    @*<link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">*@
    <link href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.common-bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="https://kendo.cdn.telerik.com/2019.3.1023/styles/kendo.bootstrap.min.css" rel="stylesheet" type="text/css" />

    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/jquery.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/jszip.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/kendo.all.min.js"></script>
    <script src="https://kendo.cdn.telerik.com/2019.3.1023/js/kendo.aspnetmvc.min.js"></script>

    <link rel="stylesheet" href="~/css/site.css" />

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg py-3 header">
            <div class="container d-flex justify-content-between">
                <div>
                    <h1 class="mb-0 header-title">My Stocks Portfolio</h1>
                    @(Html.Kendo().DropDownList()
                                  .Name("currency")
                                  .DataTextField("Text")
                                  .DataValueField("Value")
                                  .BindTo(new List<SelectListItem>() {
                                      new SelectListItem() {
                                          Text = "USD",
                                          Value = "1"
                                      },
                                      new SelectListItem() {
                                          Text = "EUR",
                                          Value = "2"
                                      },
                                      new SelectListItem() {
                                          Text = "GBP",
                                          Value = "3"
                                      }
                                  })
                                  .Events(ev=>ev.Change("onCurrencyChange"))
                                  .Value("1")
                                  .ValueTemplate("<span>Currency in #= data.Text #</span>")
                                  .HtmlAttributes(new { style = "width: 160px" })
                                  
                    ) 
                </div>
                <div class="profile-wrapper d-flex flex-column align-self-center" onclick="onProfileClick()" routerLink="/profile">
                    <div class="profile-image"></div>
                    <div class="profile-text">Collin Johnson</div>
                </div>
            </div>
        </nav>
    </header>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>

    <footer class="container-fluid footer text-center d-flex align-items-center">
        <div class="w-100">
            <span class="footer-copyright text-center">Copyright © 2019 Progress Software Corporation and/or its subsidiaries or affiliates.</span>
            <span class="progress-logo d-inline-flex"></span>
        </div>
    </footer>
    <script src="~/lib/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>