.footer {
  position: fixed;
  bottom: 0;
  padding: 10px;
  background: url("../assets/footer-bg.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: blue;
  z-index: 999;
  font-size: 16px;
  color: #fff; }
  .footer .progress-logo {
    width: 100px;
    height: 20px;
    vertical-align: middle;
    background-image: url("./../assets/progress-logo.svg");
    background-position: center;
    background-repeat: no-repeat; }
