.k-splitter {
    border-width: 0;
}

    .k-splitter .k-splitbar {
        box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.2);
        background: none;
    }

    .k-splitter .k-splitbar-draggable-vertical .k-resize-handle {
        display: none;
    }

    .k-splitter .k-pane:not(.k-pane-static) {
        background-color: rgba(236, 238, 239, 0.5);
    }

    .k-splitter .k-pane.splitter-upper-pane {
        background-color: #FFF;
    }

