@*<div id="bottom-pane-content">
        Bottom pane
        @await Html.PartialAsync("Navigation", new NavigationModel { navigationIndex = 0, currentView = "Home" })

        @model IEnumerable<Stock>

        @{
            foreach (var item in Model)
            {
                <div>@item.Name</div>
            }
        }
    </div>*@



@await Html.PartialAsync("Navigation", new NavigationModel { navigationIndex = 0, currentView = "Home" })

<div class="container">
    <div class="row py-4 d-flex justify-content-between">
        <div class="col col-3 d-flex justify-content-start px-0">
            @(Html.Kendo().DropDownList()
                .Name("addNew")
                .DataTextField("Symbol")
                .DataValueField("Symbol")
                .Filter("Contains")
                .DataSource(source =>
                {
                    source.Read(read =>
                    {
                        read.Action("GetChartData", "Home");
                    });
                    source.ServerFiltering(false);
                })
                .Height(400)
                .Events(e => e.Change("addStock"))
                .ValueTemplate("<span class=\"k-icon k-i-plus\"></span>" +
                              "<span>Add new</span>")
            )
            @(Html.Kendo().Button()
                    .Name("removeButton")
                    .Icon("trash")
                    .HtmlAttributes(new { type = "button"  })
                    .Events(ev => ev.Click("removeRow"))
                    .Content("Remove"))
        </div>
    </div>

    <div class="row">
        @(Html.Kendo().Grid<FinancePortfolio.Models.Stock>()
            .Name("Grid")
            .Columns(columns =>
            {
                columns.Select().Width(30);
                columns.Bound(p => p.Symbol);
                columns.Bound(p => p.Name);
                columns.Bound(p => p.Price).ClientTemplate("<strong>#= currencyTemplate(data)# </strong>");
                columns.Bound(p => p.DayChange).ClientTemplate("#= dayChangeTemplate(data)#");
                columns.Bound(p => p.ChangePct).ClientTemplate("#= dayChangePctTemplate(data)#");
                columns.Bound(p => p.Volume).ClientTemplate("#= numbersTemplate(data, 'Volume')#");
                columns.Bound(p => p.VolumeAvg).ClientTemplate("#= numbersTemplate(data, 'VolumeAvg')#");
                columns.Bound(p => p.MarketCap).ClientTemplate("#= numbersTemplate(data, 'MarketCap')#").Format("");
                columns.Bound(p => p.Pe);
                columns.Bound(p => p.Intraday).ClientTemplate("<div class='chart' style='width: 200px; height: 70px;'></div>");
            })
            .Editable(c=>c.DisplayDeleteConfirmation(true))
            .Sortable()
            .Events(e =>
                          {
                              e.DataBound("onDataBound");
                              e.Change("showDeletBttnOnChange");
                          })
            .DataSource(dataSource => dataSource
                .Ajax()
                .Model(m => m.Id(id=>id.Symbol))
                .Read(read => read.Action("ReadGridData", "Grid"))
                .PageSize(20)
                .ServerOperation(false)
             )
        )
    </div>
</div>


<style>
    #Grid {
        border-width: 0;
    }
    .k-grid tr td {
        border-width: 0;
    }
    .k-grid-header th.k-header {
        border-width: 0;
    }
</style>

