<div id="bottom-pane-content">
    Bottom pane
    @await Html.PartialAsync("Navigation", new NavigationModel { navigationIndex = 0, currentView = "Home" })

    @model IEnumerable<Stock>

    @{
        foreach (var item in Model)
        {
            <div>@item.Name</div>
        }
    }
</div>

<style>
    #bottom-pane{
        height: 100%;
    }

    #bottom-pane-content {
        background: #FFF;
        height: 100%;
    }
</style>

