<div id="bottom-pane-content">
    Bottom pane
    @Html.Partial("Navigation", new NavigationModel { navigationIndex = 0, currentView = "Home" })
</div>




<style>
    #bottom-pane{
        height: 100%;
    }

    #bottom-pane-content {
        background: #FFF;
        height: 100%;
    }
</style>

