<div class="container">
    @{
        ViewData["Title"] = "HeatMap";
    }

    <div class="heatmap-container">
        <div class="d-flex justify-content-center py-5 align-items-center">
            @Html.Partial("Navigation", new NavigationModel { navigationIndex = 1, currentView = "HeatMap" })
        </div>

        <div class="scale-wrap d-flex justify-content-between">
            <div>-6%</div>
            <div>0%</div>
            <div>6%</div>
        </div>

        <div class="size-container d-flex justify-content-between">
            <div class="d-flex scale-blocks">
                <span style="background: #EC0006;"></span>
                <span style="background: #FA2B2C;"></span>
                <span style="background: #FA4949;"></span>
                <span style="background: #FF7271;"></span>
                <span style="background: #FF9693;"></span>
                <span style="background: #CDDDD4;"></span>
                <span style="background: #09E98B;"></span>
                <span style="background: #11DD86;"></span>
                <span style="background: #0FCB74;"></span>
                <span style="background: #00BC69;"></span>
                <span style="background: #00A95B;"></span>
            </div>
            <div>
                <span class="mr-3">Size: <span class="font-weight-bold">Market Cap (Intraday)</span></span>
                <span>Color:1 <span class="font-weight-bold">Day % of Change</span></span>
            </div>
        </div>
        <div class="heatmap">
            @(Html.Kendo().TreeMap()
                        .Name("treeMap")
                        .DataSource(dataSource => dataSource
                            .Read(read => read
                                .Action("GetHeatMapData", "Home")
                            )
                            .Model(m => m.Children("Items"))
                        )
                        .ValueField("Value")
                        .TextField("Name")
                        .Colors(colors => colors
                                        .AddRange("#09E98B", "#00A95B")
                                        .AddRange("#FF9693", "#EC0006"))
                        .Type(TreeMapType.Squarified)
                        .HtmlAttributes(new { style = "height:600px; font-size: 12px;" })
                        .TemplateId("leafTemplate")
            )
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#treeMap").kendoTooltip({
            filter: ".k-leaf",
            position: "center",
            showOn: "click",
            content: function (e) {
                var treemap = $("#treeMap").data("kendoTreeMap");
                var item = treemap.dataItem(e.target.closest(".k-treemap-tile"));
                const cssClass = (value) => {
                    return value > 0 ? 'positive-value' : 'negative-value';
                };
                return `
                    <div class="hm-symbol">${ item.Symbol}</div>
                    <div class="hm-symbol-long-name">${ item.Name}</div>
                    <div>
                        <span class="mr-2">Price: </span>
                        <span>
                            ${ item.Price}
                        </span>
                    </div>
                    <div>
                        <span class="mr-2">Change: </span>
                        <span class="${ cssClass(item.Change)}">
                            ${ (item.Change > 0 ? '+' : '')}${item.Change}%
                        <span>
                    </div>
                    <div>
                        <span class="mr-2">Market Cap: </span><span>${ item.Value}<span>
                    </div>
                `;
            }
        });
    });
</script>

<script id="leafTemplate" type="text/x-kendo-template">
    <div style="text-align:center">
        #=dataItem.Symbol#
        <div>
            #=dataItem.Value#%
        </div>
    </div>
</script>

