<div class="container">
    @{
        ViewData["Title"] = "HeatMap";
    }

    <div class="heatmap-container">
        <div class="d-flex justify-content-center py-5 align-items-center">
            @Html.Partial("Navigation", new NavigationModel { navigationIndex = 1, currentView = "HeatMap" })
        </div>

        <div class="scale-wrap d-flex justify-content-between">
            <div>-6%</div>
            <div>0%</div>
            <div>6%</div>
        </div>

        <div class="size-container d-flex justify-content-between">
            <div class="d-flex scale-blocks">
                <span style="background: #EC0006;"></span>
                <span style="background: #FA2B2C;"></span>
                <span style="background: #FA4949;"></span>
                <span style="background: #FF7271;"></span>
                <span style="background: #FF9693;"></span>
                <span style="background: #CDDDD4;"></span>
                <span style="background: #09E98B;"></span>
                <span style="background: #11DD86;"></span>
                <span style="background: #0FCB74;"></span>
                <span style="background: #00BC69;"></span>
                <span style="background: #00A95B;"></span>
            </div>
            <div>
                <span class="mr-3">Size: <span class="font-weight-bold">Market Cap (Intraday)</span></span>
                <span>Color:1 <span class="font-weight-bold">Day % of Change</span></span>
            </div>
        </div>
        <div class="heatmap">
            @(Html.Kendo().TreeMap()
                      .Name("treeMap")
                      .DataSource(dataSource => dataSource
                          .Read(read => read
                              .Action("GetHeatMapData", "Home")
                          )
                      .Model(m => m.Children("Items"))
                      )
                      .ValueField("DayChange")
                      .TextField("Symbol")
                      .HtmlAttributes(new { style = "height:600px; font-size: 12px;" })
            )
        </div>
    </div>
</div>
<style>
    body {
    background: rgba(236, 238, 239, 0.5);
}

.size-container {
    margin-bottom: -35px;
}

.scale-wrap {
    width: 385px;
}

.scale-blocks span {
        width: 35px;
        height: 18px;
    }

.heatmap-container {
    margin-bottom: 50px;
}


    .k-widget .k-treemap {
        border-width: 0;
        background-color: transparent;
    }
       .k-widget .k-treemap  .k-treemap-title {
            display: none;
        }

       .k-widget .k-treemap  .k-treemap-tile {
            background-color: transparent;
            border-width: 0;
            margin: 0;
        }
 


   .k-tooltip .k-tooltip-content {
        padding: 6px 12px;
    }

   .k-tooltip  .hm-symbol {
        font-weight: bold;
        font-size: 16px;
        color: #1C7CD5;
    }

   .k-tooltip  .hm-symbol-long-name {
        margin-bottom: 8px;
    }

   .k-tooltip  .positive-value {
        color: #5CB85C;
    }

   .k-tooltip  .negative-value {
        color: #D9534F;
    }

</style>