<div class="container">
    <div class="row py-4 d-flex justify-content-between align-items-center">
        <div class="col col-4 d-flex daterange-input-wrap">
            @(Html.Kendo().DateRangePicker()
            .Name("daterangepicker")
            .Max(DateTime.Today)
            .Labels(false)
            .HtmlAttributes(new { style = "width: 100%", title = "daterangepicker" })
            )
        </div>

        <ul id="timeFilter" class="k-reset d-flex col-3">
            <li class="ml-3">
                <span>1H</span>
                <span>4H</span>
                <span>12H</span>
                <span>1D</span>
                <span>4H</span>
                <span>1W</span>
            </li>
        </ul>

        <div class="col-4">
            @(Html.Kendo().DropDownList()
          .Name("interval")
          .DataTextField("Text")
          .DataValueField("Value")
          //.Events(e => e.Change("change"))
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                  Text = "Interval: 5M",
                  Value = "1"
              },
              new SelectListItem() {
                  Text = "Interval: 15M",
                  Value = "2"
              },
              new SelectListItem() {
                  Text = "Interval: 30M",
                  Value = "3"
              }
          })
          .Value("1")
          .HtmlAttributes(new { style = "width: 40%" })
            )

            @(Html.Kendo().DropDownList()
          .Name("dropdown-list-selection")
          .DataTextField("Text")
          .DataValueField("Value")
          .ValueTemplate("<span><img src='/assets/#: Value #.png' alt='#: Text #' />   #: Text #</span>")
          .Template("<span><img src='/assets/#: Value #.png' alt='#: Text #' />   #: Text #</span>")
          //.Events(e => e.Change("change"))
          .BindTo(new List<SelectListItem>() {
              new SelectListItem() {
                  Text = "Candle",
                  Value = "candle"
              },
              new SelectListItem() {
                  Text = "Line",
                  Value = "line"
              },
              new SelectListItem() {
                  Text = "Area",
                  Value = "area"
              }
          })
          .Value("1")
          .HtmlAttributes(new { style = "width: 40%" })
            )
        </div>
    </div>

    <div class="row">
        <div class="col">
            @(Html.Kendo().StockChart<FinancePortfolio.Models.TreeMapStock>()
        .Name("stockChart")
        .DataSource(ds => ds.Read(read => read
            .Action("GetChartData", "Home")
        ))
        .DateField("LastTradeTime")
        .Panes(panes =>
        {
            panes.Add().Title("Value");
            panes.Add("volumePane").Title("Volume").Height(150);
        })
        .CategoryAxis(axis => axis.Pane("LastTradeTime"))
        .ValueAxis(axis => axis.Numeric().Line(line => line.Visible(false)))
        //.ValueAxis(axis => axis.Numeric("volumeAxis").Pane("volumePane").Visible(false))
            .Series(series =>
            {
                series.Candlestick(s => s.PriceOpen, s => s.DayHigh, s => s.DayLow, s => s.CloseYesterday).Aggregate(c=>c.Open(ChartSeriesAggregate.Min).High(ChartSeriesAggregate.Max).Low(ChartSeriesAggregate.Min).Close(ChartSeriesAggregate.Max));
            //series.Column(s => s.Volume).Axis("volumeAxis")
            //        .Tooltip(tooltip => tooltip.Format("{0:C0}"));
            })
            //.Navigator(nav => nav
            //    .Series(series =>
            //    {
            //        series.Area(s => s.Close);
            //    })
            //    .Select(
            //        DateTime.Parse("2009/02/05"),
            //        DateTime.Parse("2011/10/07")
            //    )
            //)
            )
        </div>
    </div>
</div>


<script>

    $("#timeFilter li span").click(function () {
       $($(this)).css('font-weight', 'bold');
});
</script>

<style>
    input.k-textbox {
        width: 140px !important;
    }
</style>
