@import "_variables.scss";

.bottom-pane-container .py-5 {
    padding-top: 2rem !important;
    padding-bottom: 2rem !important;
}

#removeButton.k-button.k-button-icontext {
    color: $negative-value;
    border-color: transparent;
    background: 0 0;

    &:hover {
        border-color: $hover-bg;
        background-color: $hover-bg;
    }

    &:focus:after {
        box-shadow: none;
    }
}

#Grid {
    border-width: 0;
}

.k-grid tr td {
    border-width: 0;
}

.k-grid-header th.k-header {
    border-width: 0;
    background-color: $body-base-bg;
}

.k-grid-header tr th .k-link {
    font-weight: bolder;
}

.k-grid .grid-header-subtitle {
    display: block;
    margin: 0;
    font-weight: normal;
    font-size: 13px;
}
