@import "_variables.scss";

.header {
    height: $header-height;
    background: url('./../assets/header-bg.svg');
    background-position: bottom;
    background-repeat: no-repeat;

    h1 {
        padding-top: $header-title-padding;
        font-family: $roboto;
        font-weight: $font-weight-200;
        color: $white;
    }

    .profile-wrapper {
        outline: none;
        cursor: pointer;
    }

    .profile-image {
        align-self: center;
        width: $profile-image-width;
        height: $profile-image-height;
        border-radius: 50%;
        background-image: url('./../assets/user.jpg');
        background-size: cover;
        background-position: center;
    }

    .profile-text {
        color: rgba(255, 255, 255, 0.5);
    }

    .k-widget {
        background-color: transparent;
    }

    .k-dropdown {
        .k-dropdown-wrap .k-input {
            font-size: $dropdownlist-font-size;
            padding: 0;
        }

        .k-select {
            color: $white;
        }

        > :hover {
            background: transparent;
            box-shadow: none;
        }

        span .k-input {
            text-indent: 0.1em;
            color: $white-50;
        }
    }

    .k-popup {
        padding: 0;

        .k-list {
            .k-item.k-state-selected {
                background: $dropdownlist-item-selected-bg;
                color: $dropdownlist-item-selected-text;
            }
        }
    }

    .k-widget.k-dropdown {
        color: rgba(255, 255, 255, 0.5);
        background-color: transparent;
    }
}

.k-dropdown-wrap, .k-dropdown-wrap.k-state-default, .k-dropdown-wrap.k-state-default.k-focused {
    background-color: transparent;
    box-shadow: none !important;
    border: none;
    width: 130px;
}

#currency, #currency :focus {
    background: transparent;
    border: none;
    box-shadow: none;
    color: red;
}

#currency-list {
    background: $white;
    box-shadow: none;
    color: $black;
    border-radius: 5%;
    padding: 0;

    li {
        padding-left: $dropownlist-add-new-padding;
        border-radius: 0px;
    }

    .k-item.k-state-hover {
        border-radius: 2px;
    }

}

.k-icon.k-i-arrow-chevron-down {
    top: -5px;
    left: -10px;
}

.k-item {
    &.k-state-selected.k-state-focused {
        box-shadow: none;
        background-color: $dropdownlist-item-selected-bg;
        color: $dropdownlist-item-selected-text;
        border-radius: 3px !important;
    }

    &.k-state-hover {
        box-shadow: none;
        background-color: transparent;
    }
}

.k-calendar-header > .k-button.k-title {
    width: 300px;
}

    