@import "_variables.scss";

.k-button {
    text-transform: none;

    &.k-state-active {
        color: $white;
    }

    &:focus {
        box-shadow: none;
    }

    &.k-state-active {
        background: $nav-button-active-bg;
        border-color: $nav-button-active-bg;
    }
}

.bottom-pane {
    text-align: center;
    background-color: transparent;
}

.k-button-group {
    margin-top: 15px;
}


.source-code-link {
    padding: .375rem .75rem;

    &:hover {
        text-decoration: none;
    }

    .navbar-nav-svg {
        width: 20px;
    }
}