@import "_variables.scss";

h1 {
    font-family: $roboto;
}

td {
    padding: $profile-table-padding;
}


#grid-profile td:last-of-type {
    font-weight: bold;
}

.green {
    color: $positive-value;
}

.red {
    color: $negative-value;
}

.current-value {
    font-size: $profile-current-value-font-size;
}

.symbol-col {
    color: $grid-row-selection-bg;
}

.k-icon {
    cursor: pointer;
    outline: none;

    &.icon-close {
        background: url('./../assets/cross-out.svg') center no-repeat;
        width: $profile-icon-size;
        height: $profile-icon-size;
    }
}

.profile-stocks-grid {
    border-width: 1px;
}


.user-profile-wrapper {
    max-width: $profile-user-wrapper;

    .profile-image {
        align-self: center;
        width: 2 * $profile-image-width;
        height: 2 * $profile-image-height;
        border-radius: 50%;
        background-image: url('./../assets/user.jpg');
        background-size: cover;
        background-position: center;
    }

    h3 {
        font-size: $profile-font-size;
    }
}

.k-alt{
    background-color: #FFF;
}



#grid-profile tr td[role="gridcell"]:first-child {
    color: $grid-row-selection-bg;
    font-weight: bold;
}

.profile-stocks-grid.k-grid {
    tr td {
        border: 0;
    }

    table .k-grid-header [role="columnheader"] {
        color: $grid-header-text;
        font-weight: bold;
        border: 0;
    }
}

.profile-stocks-grid.k-grid tr td {
    border: 0;
}

.profile-pie-chart {
    transform: scale(1.3);
    padding-left: 1rem;
    padding-right: 1rem;
}